[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
black = "*"
flake8 = "*"
gitlint = "*"
isort = "*"
mypy = "*"
pipfile-sort = "*"
pre-commit = "*"
pytest = "*"
pytest-bdd = "*"
pytest-cov = "*"
pytest-describe-it = "*"
pytest-html = "*"
pytest-mock = "*"
pytest-pspec = "*"
pytest-watch = "*"

[packages]

[requires]
python_version = "3.9"

[scripts]
test = "pytest"
coverage = "pytest --cov-report term --cov='modules' --verbose --verbosity=9 --cache-clear --rootdir='.'"
coverageHtml = "pytest --cov-report html --cov='modules'"
watch = "ptw test/ -- --cov-report term --cov='modules'"
